JwBibleDownloader/JwBibleDownloader/bin
JwBibleDownloader/JwBibleDownloader/obj
JwBibleDownloader/packages
JwBibleDownloader/JwBibleDownloader.suo
JwBibleDownloader/JwBibleDownloader.v11.suo
JwBibleDownloader/JwBibleDownloader.v12.suo